<!DOCTYPE html>
<html lang="en-US">
  <head>
    <title>Nicotine Log</title>
    <meta charset="utf-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
     <script src="https://cdn.jsdelivr.net/npm/vue-router@3.1.2/dist/vue-router.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.bundle.js"></script>
  </head>
  <body>
    <div id="app">
        <p>I want to cut down my nicotine consumption by <input :placeholder='percentRed'>% in the next
            <select>
                <section>
                    <option selected v-if="time == 0">1 week</option>
                    <option v-else>1 week</option>
                </section>
                <section>
                        <option selected v-if="time == 1">2 weeks</option>
                        <option v-else>1 week</option>
                </section>
                <section>
                        <option selected v-if="time == 2">1 month</option>
                        <option v-else>1 month</option>
                </section>
                <section>
                        <option selected v-if="time == 3">3 months</option>
                        <option v-else>3 months</option>
                </section>
                <section>
                    <option selected v-if="time == 4">6 months</option>
                    <option v-else>6 months</option>
                </section>
                <section>
                    <option selected v-if="time == 5">1 year</option>
                    <option v-else>1 year</option>
                </section>
            </select>
        </p>
        <p>Right now I most often use a
            <select>
                <section>
                    <option selected v-if="device == 0">Juul</option>
                    <option v-else>Juul</option>
                </section>
                <section>
                    <option selected v-if="device == 1">Cigarette</option>
                    <option v-else>Cigarette</option>
                </section>
            </select>
        </p>
        <p>Right now I think I use nicotine <input :placeholder='tad'> times a day and <input :placeholder='taw'> days a week</p>
        <p>An inspirational message to myself: <input :placeholder='inspire'></p>
    </div>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                percentRed: '30',
                time: '1', //let's do time as index of an array of options
                device: '0', //because everybody juuls lol
                tad: '3', //times a day (i'm a lazy mofo)
                taw: '7', //times a week
                inspire: 'i wanna',
            }
        })
    </script>
  </body>
</html>